.fa-share-alt::before {
    content: "\e406";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
      font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-globe::before {
    content: "\e28c";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-globe::before {
    content: "\e28c";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-comments::before {
    content: "\E17C";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
  }
  .fa.fa-clock-o::before {
    content: "\E19A";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
  }
  .fa.fa-clipboard::before {
    content: "\E198";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-times::before {
    content: "\E4F6";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .oi.oi-search::before {
    content: "\E30C";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-caret-down::before {
    content: "\E136";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-cog::before, .fa.fa-gear::before {
    content: "\E272";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }
  .oi.oi-view-kanban::before {
    content: "\EB54";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
      font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  .fa.fa-calendar::before {
    content: "\E7B4";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-plus::before {
    content: "\E3D4";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }
  .oi.oi-view-list::before {
    content: "\E2F0";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-cloud-upload::before {
    content: "\E248";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fa.fa-undo::before {
    content: "\E038";
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .o_menu_sections.d-none.d-md-flex.flex-grow-1.flex-shrink-1.w-0 .o-dropdown.dropdown.o_menu_sections_more.o-dropdown--no-caret .fa.fa-plus::before {
    content: "\E2F0"; /* Unicode for dots-three-circle */
    font-family: "Phosphor-Bold" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
}


.fa.fa-bug::before {
  content: "\E5F4";
  font-family: "Phosphor-Bold" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
    font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  font-variant-ligatures: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  margin-right: 8px;
}